*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
    font-weight:300;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/*Navbar */



.bg__nav{
    background-color: #AD84A6;
}


.nav__color-h{
    font-size: 18px;
    color: black;
}
.nav__color-h:hover{
    color: #e3c9e6;
}

.btn__search{
    color: #e3c9e6;

}

.btn__search:hover{
    background-color:#e3c9e6 ;
    color: #65195E;
}







/* Carrousel*/


.carrousel__width{
    width: 800px;
    height: 600px;
}

.carrousel__size{
    height: 50vh;
    width: 80vw;
}


/*Beneficio*/

.bg__beneficio{
    background-color: #FFF6FF;
}

.beneficio__parrafo{
    font-size: 20px;
    font-weight:550;
}

.beneficio__miniparrafo{
    font-size: 14px;
}

/*Secciones*/


.card__bg{
    background-color: #E8D5B5;
    
}

.h5__secciones{
    font-family: 'Expletus Sans', cursive;
    font-weight: 600;

}




.btn__vermas{
    background-color:none;

    color:rgb(67, 3, 67);
    border: 2px solid #430343;
    transition: ease-in-out 500ms;
    

}

.btn__vermas:hover{
    background-color: rgb(67, 3, 67);
    color: white;
    border: 2px solid #B09E80;

}

/*Newsletter*/

.btn__anmt{
    background-color:none;

    color:rgb(67, 3, 67);
    border: 2px solid #430343;
    transition: ease-in-out 500ms;
    

}

.btn__anmt:hover{
    background-color: rgb(67, 3, 67);
    color: white;

}

.btn__anmt:focus{
    transform: scale(1.2);
}


  /*footer*/

  .vacio{
    min-height: 100vh;
  }

  .bg__footer{
    background-color: black;
    
  }

