@import "./query";
.main__lonuevo {
  min-height: 100vh;
}

.banner_p {
  font-size: 3rem;
  font-family: "Expletus Sans", cursive;
  font-weight: 600;
}

.padre__banner {
  height: 400px;
}

.padre_p_banner {
  height: 400px;
}
.p__banner {
  height: 400px;
}

.banner {
  background-size: cover;
  height: 400px;
}

.banner_lonuevo {
  background-image: url("../../Multimedia/lonuevo/buzo.jpeg");
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  @include navegador {
    clip-path: none;
  }
}

.banner_lonuevo2 {
  background-image: url("../../Multimedia/lonuevo/sweater.jpg");
  background-position: left center;
  clip-path: polygon(0 0, 71.5% 0, 96.4% 100%, 0% 100%);
  @include navegador {
    clip-path: none;
  }
}

.banner_lonuevo3 {
  background-image: url("../../Multimedia/lonuevo/skate.jpg");

  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  @include navegador {
    clip-path: none;
  }
}

.banner_lonuevo4 {
  background-image: url("../../Multimedia/lonuevo/outlet.jpg");
  background-position: left top;
  clip-path: polygon(0 0, 71.5% 0, 96.4% 100%, 0% 100%);
  @include navegador {
    clip-path: none;
  }
}
