* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(160, 158, 158);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

main {
  min-height: 100vh;
}

.bg__nav {
  background: black;
}
.bg__nav .navbar__collapse {
  background-color: white;
}
.bg__nav .nav__focus:focus {
  color: white;
}
.bg__nav .nav__ul-drop {
  background-color: black;
}
.bg__nav .nav__ul-drop .subMenu__color-h {
  font-size: 1rem;
  color: white;
}
.bg__nav .nav__ul-drop .subMenu__color-h:hover {
  color: rgb(0, 0, 0);
}
.bg__nav .btn__search {
  color: white;
}
.bg__nav .btn__search:hover {
  background-color: white;
  color: #000;
}

.nav__color-h {
  font-size: 1rem;
  color: white;
}
.nav__color-h:hover {
  color: rgb(160, 158, 158);
}

.carrousel__width {
  width: 800px;
  max-width: 100%;
  height: 600px;
}
.carrousel__width .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 800px;
  max-width: 100%;
  height: 600px;
}

.bg__beneficio {
  background-color: #f7f7f7;
  color: black;
}
.bg__beneficio .beneficio__parrafo {
  font-size: 1.5rem;
  font-weight: 600;
}
.bg__beneficio .beneficio__miniparrafo {
  font-size: 1rem;
}

.card__bg {
  background-color: #f7f7f7;
  color: black;
}
.card__bg .h3__secciones {
  font-size: 1.5rem;
  font-family: "Expletus Sans", cursive;
  font-weight: 600;
}

.btn__vermas {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%);
  color: white;
  transition: ease-in-out 200ms;
  border-width: 1px;
}
.btn__vermas:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, #000 100%);
  color: white;
}

.btn__anmt {
  background-color: #000;
  color: white;
  border: 2px solid #161616;
  transition: ease-in-out 400ms;
}
.btn__anmt:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.bg__footer {
  background-color: black;
}
.bg__footer .div__foot {
  max-width: 80%;
  height: 100%;
}

.main__lonuevo {
  min-height: 100vh;
}

.banner_p {
  font-size: 3rem;
  font-family: "Expletus Sans", cursive;
  font-weight: 600;
}

.padre__banner {
  height: 400px;
}

.padre_p_banner {
  height: 400px;
}

.p__banner {
  height: 400px;
}

.banner {
  background-size: cover;
  height: 400px;
}

.banner_lonuevo {
  background-image: url("../../Multimedia/lonuevo/buzo.jpeg");
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}
@media screen and (max-width: 1024px) {
  .banner_lonuevo {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.banner_lonuevo2 {
  background-image: url("../../Multimedia/lonuevo/sweater.jpg");
  background-position: left center;
  -webkit-clip-path: polygon(0 0, 71.5% 0, 96.4% 100%, 0% 100%);
          clip-path: polygon(0 0, 71.5% 0, 96.4% 100%, 0% 100%);
}
@media screen and (max-width: 1024px) {
  .banner_lonuevo2 {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.banner_lonuevo3 {
  background-image: url("../../Multimedia/lonuevo/skate.jpg");
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}
@media screen and (max-width: 1024px) {
  .banner_lonuevo3 {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.banner_lonuevo4 {
  background-image: url("../../Multimedia/lonuevo/outlet.jpg");
  background-position: left top;
  -webkit-clip-path: polygon(0 0, 71.5% 0, 96.4% 100%, 0% 100%);
          clip-path: polygon(0 0, 71.5% 0, 96.4% 100%, 0% 100%);
}
@media screen and (max-width: 1024px) {
  .banner_lonuevo4 {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.prod__img__effect-paso2 {
  top: 0;
  left: 0;
  opacity: 0;
}

.prod__img__effect-paso1 {
  transition: 1000ms ease-in-out;
}
.prod__img__effect-paso1:hover .prod__img__effect-paso2 {
  opacity: 1;
}

.card_product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}

.h2_productos {
  font-size: 2.2rem;
  font-family: "Expletus Sans", cursive;
  font-weight: 600;
}